@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$dark-gray: #333;
$orange: #ff8826;
$pink: #fa225b;

$font-family: "open sans", sans-serif;
$font-weight: 300;
$font-weight-heading: 300;
$font-color: $black;
$font-color-heading: $pink; //$black;

$bg: $white;
$accent: $orange;
